@model UniversityTransportation.Models.DashboardModel

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-center">
                <h2>Journeys</h2>
                <canvas class="" id="journeysChart"></canvas>
            </div>
            <div class="col-md-6 text-center">
                <h2>Stations</h2>
                <canvas class="" id="stationsChart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <h2>Rooms</h2>
                <canvas class="" id="roomChart"></canvas>
            </div>
            <div class="col-md-6 text-center">
                <h2>Requsted Journeys</h2>
                <canvas class="" id="journeysRequstedChart"></canvas>
            </div>
        </div>
    </div>

    <script>
        let journeysConfig = {
            type: 'line',
            data: @Html.Raw(Json.Serialize(Model.journeysBarChart)),
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                }
            },
        };

        var journeysChart = new Chart(
            document.getElementById('journeysChart'),
            journeysConfig
        );

        let stationsConfig = {
            type: 'bar',
            data: @Html.Raw(Json.Serialize(Model.stationsBarChart)),
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                }
            },
        };

        var stationsChart = new Chart(
            document.getElementById('stationsChart'),
            stationsConfig
        );

        let roomsConfig = {
            type: 'bar',
            data: @Html.Raw(Json.Serialize(Model.roomsBarChart)),
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                indexAxis: 'y',
            },
        };

        var roomChart = new Chart(
            document.getElementById('roomChart'),
            roomsConfig
        );


        let journeysRequstedConfig = {
            type: 'line',
            data: @Html.Raw(Json.Serialize(Model.journeysRequestedBarChart)),
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
            },
        };

        var journeysRequstedChart = new Chart(
            document.getElementById('journeysRequstedChart'),
            journeysRequstedConfig
        );

    </script>
</body>

</html>